@mixin boton-estilo($bg-color, $hover-color) {
  background-color: $bg-color !important;
  font-size: 14px;
  padding: 10px 15px;
  margin: 0.5rem;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  border: 2px solid transparent !important;
  border-radius: $radio-borde;
  text-decoration: none;
  color: white;
  font-family: $fuente-principal;
  font-weight: bold;
  display: inline-block;

  &:hover {
    background-color: $hover-color;
    transform: scale(1.05);
  }
}
